.question-widget {
  margin: 5px;
  padding: 5px;
  overflow: auto;
  max-height: 50vw;
  font-family: DM Sans, 'Montserrat', sans-serif;
}

.question-widget-title {
  font-weight: lighter;
  color: rgb(70, 70, 70);
}

.question-search input {
  width: 99%;
  height: 40px;
  display: flex;
  align-items: center;
  margin: auto;
}

.question-search input::placeholder {
  color: black;
}

.question-list {
  margin: 10px 0px;
  padding: 10px 0px;
}

.question {
  margin-top: 6px;
  padding-top: 6px;
}

.question-header {
  display: flex;
  justify-content: space-between;
  height: 1rem;
}

.question-body {
  display: flex;
}

.question-text {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.question-text-body {
  margin-left: 7px;
}

.question-footer {
  margin-left: 27px;
  font-size: 0.8rem;
  font-weight: bold;
}

.add-answer-button {
  text-decoration: underline;
}

.add-answer-button:hover {
  color:rgb(70, 70, 70);
  cursor: pointer;
}

.answer-icon {
  font-weight: bold;
  font-size: 1.1rem;
}

.answer {
  margin: 0px 5px;
  padding: 0px 5px;
  color: rgb(70, 70, 70);
}

.answer p {
  margin-top: 19px;
  margin-bottom: 8px;
}

.more-questions-btn {
  margin: 5px;
  padding: 10px 8px;
  background-color: white;
  border: 1px solid black;
}

.add-question-btn {
  margin: 5px;
  padding: 10px 8px;
  background-color: white;
  border: 1px solid black;
}

.reaction-buttons {
  display: flex;
  font-size: 0.8rem;
  color: rgb(149, 149, 149);
}

.reaction-buttons p {
  margin-top: 4px;
}

.reaction-button-break {
  padding: 0px 10px;
}

.helpful-button {
  text-decoration: underline;
}

.helpful-button:hover {
  color:rgb(70, 70, 70);
  cursor: pointer;
}

.report-button {
  text-decoration: underline;
}

.report-button:hover {
  color:rgb(70, 70, 70);
  cursor: pointer;
}

.report-button.disabled {
  pointer-events: none;
  color: red;
  font-weight: bold;
}

.reported-text {
  pointer-events: none;
  color: red;
  font-weight: bold;
}

.question-footer {
  width: 100%;
}

.add-qa-form {
  background-color: #eeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  max-width: 100%;
  margin: auto;
  border-radius: 5px;
  border: 5px black solid;
  padding: 20px;
}

.add-qa-title {
  font-size: 35px;
  padding-bottom: 2px;
  margin-bottom: 2px;
  padding-top: 0px;
  margin-top: 0px;
}

.add-qa-subtitle {
  font-size: 20px;
  padding-top: 2px;
  margin-top: 2px;
}

.add-question-subtitle {
  font-size: 20px;
  padding-top: 2px;
  margin-top: 2px;
}

.add-answer-subtitle {
  font-size: 20px;
  padding-top: 2px;
  margin-top: 2px;
  color: black;
}

.add-question-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  display: none;
}

.add-answer-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  display: none;
}

.submit-qa-button {
  margin: 25px 0px 25px 0px;
  background-color: rgb(141, 140, 140);
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
}

.submit-qa-button:hover {
  background-color: rgb(119, 118, 118);
  color: rgb(243, 240, 240);
  cursor: pointer;
}

.add-question-product-name {
  color: rgb(141, 140, 140);
  font-size: 23px;
}

.add-answer-product-name {
  color: rgb(141, 140, 140);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 23px;
}

.input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-input {
  margin: 9px 5px;
  max-width: 100%;
}

.add-qa-form label {
  margin-left: 5px;
}

.add-qa-form input {
  width: 350px;
  max-width: 95%;
  margin: auto;
}

.qa-input textarea {
  height: 50px;
  width: 350px;
  max-width: 95%;
  resize: none;
  margin: auto;
}

.close-modal-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 15px 0px 0px;
  margin: 0px 15px 0px 0px;
}

.close-image-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0px 15px 0px 0px;
  margin: 0px 15px 0px 0px;
}

.close-modal-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-image-contents {
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 10px 25px;
}

.close-modal {
  font-size: small;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0px 4px;
  background-color: rgb(141, 140, 140);
  color: white;
}

.close-modal:hover {
  background-color: rgb(119, 118, 118);
  color: rgb(243, 240, 240);
  cursor: pointer;
}

.answer-from-seller {
  font-weight: bold;
}

.error-message {
  padding: 0px;
  margin: 0px 4px;
  color: red;
  font-size: 0.8rem;
  font-weight: bold;
  visibility: hidden;
}

.form-message {
  padding: 3px;
  margin:3px;
  font-size: 0.8rem;
  font-weight: 100;
}

.answer-images {
  height: 55px;
  padding: 5px 0px 10px 0px;
}

.answer-image {
  height: 100%;
  margin: 5px 10px 5px 0px;
  border: 1px solid black;
}

.display-image-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

.selected-image {
  border: 2px solid black;
  width: auto;
  box-shadow: 0 0 0 25px #eeee;
  border-radius: 10px;
}

.question-search input {
  background-image: url('../images/search_icon.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 3rem;
}