.question-widget {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}

.question-search input {
  width: 99%;
}

.question-list {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;

}

.question {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}

.question-header {
  display: flex;
  justify-content: space-between;
}

.question-body {
  display: flex;
}

.answer-list {
  width: 100%;
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}

.answer {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}

.more-questions-btn {
  margin: 5px;
  padding: 10px 8px;
}

.add-question-btn {
  margin: 5px;
  padding: 10px 8px;
}

.reaction-buttons {
  display: flex;
}

.reaction-button-break {
  padding: 0px 10px;
}