
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.hr {
  width: 100%;
  height: 2px;
  background: black;
}

.reviews {
  font-family: lato, sans-serif;
  display: grid;
  grid-template-columns: 25% 70%;
  justify-content: space-between;
}

.reviews-breakdown {
  background-color: whitesmoke;
}

.customer-reviews {
  background-color: whitesmoke;
}

.reviews-breakdown-rating {
  display: grid;
  grid-template-columns: 40% 60%;
}

.breakdown-rating-num {
  font-size: 14;
  font-weight: 900;
}

.reviews-breakdown-star-distribution {
  background-color: orange;
  min-height: 150px;
}

.reviews-breakdown-customer-comments {
    min-height: 150px;
}

.reviews-breakdown-recommendation {
  width: 100%;
  height: 40px;
  text-align: center;
  display: grid;
  place-items: center;
  background-color: rgba(0,0,0,0.2);
}

.star-distribution-indiv-star {
  display: grid;
  grid-template-columns: 10% 85%;
}

.indiv-star-box {
  width: 100%;
  height: 25px;
  border: 1px solid black;
}

.indiv-star-percentage {
  height: 100%;
  background-color: yellow;
  width: 50%;
}

.customer-comments-bar-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-around;
  position: relative;
}

.cc-bar {
  width: 100%;
  height: 10px;
  background-color: gray;
}

.cc-bar-percentage-indicator {
  background: url('../svg.png');
  background-size: contain;
  width: 15px;
  height: 13px;
  position: absolute;
  top: 0;
  left: 26%;
}

.customer-comments-bar-container-2 {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  justify-content: space-around;
  position: relative;
}

.total-reviews-and-sort-container {
  height: 65px;
}

.indiv-reviews-star-and-date-display {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
}

.reviews-reviews-list {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 10px;
}

.indiv-review-summary {
  font-weight: bold;
}

.individual-review {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 20px;
}

.btn-r-int {
  border: 2px solid black;
  box-sizing: border-box;
  padding: 20px;
  font-size: large;
  font-weight: 900;
}

.reviews-reviews-interactions {
 display: grid;
 grid-template-columns: max-content max-content;
 grid-column-gap: 2%;
}