
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

body {
  width: 70%;
  margin: auto;
}

.reviews {
  width: 80%;
  margin: auto;
  font-family: lato, sans-serif;
  display: grid;
  grid-template-columns: 30% 65%;
  justify-content: space-between;
}

.reviews-title, .reviews * {
  font-family: Open-Sans ,nunito, lato, sans-serif;
}

.reviews-breakdown {
  /* background-color: rgba(0,0,0,0.025); */
  display: grid;
  grid-template-rows: max-content max-content max-content;
}


.customer-reviews {
  position: relative;
  display: grid;
  height: 80vh;
  grid-template-rows: 10% 78% 12%;
}

.reviews-breakdown-rating {
  display: grid;
  grid-template-columns: 50% 50%;
  /* border: 1px solid black; */
}

.breakdown-rating-num {
  font-size: 75px;
  font-weight: 900;
  height: 10vh;
  margin: 0;
  display: grid;
  place-items: center;
  font-weight: 2000;
  color: rgba(0,0,0,0.75);
  font-family: lato, sans-serif;
  font-stretch: ultra-expanded;
  /* border: 1px solid black; */
}

.reviews-breakdown-star-distribution {
  min-height: 150px;
  display: grid;
  grid-template-rows: max-content max-content max-content max-content max-content;
  grid-row-gap: 8%;
}

.reviews-breakdown-customer-comments {
    min-height: 150px;
}

.reviews-breakdown-recommendation {
  width: 100%;
  height: 40px;
  text-align: left;
  display: grid;
  align-items: center;
  /* background-color: rgba(0,0,0,0.2); */
}

.star-distribution-indiv-star {
  display: grid;
  grid-template-columns: 10% 85%;
}

.indiv-star-box {
  width: 100%;
  height: 25px;
  border: 1px solid black;
}

.indiv-star-percentage {
  height: 100%;
  /* background-color: yellow; */
  color: black;
  width: 50%;
}

.customer-comments-bar-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-around;
  position: relative;
}

.cc-bar {
  width: 100%;
  height: 10px;
  background-color: gray;
}

.cc-bar-percentage-indicator {
  background: url('../svg.png');
  background-size: contain;
  width: 15px;
  height: 13px;
  position: absolute;
  top: 0;
  left: 26%;
}

.customer-comments-bar-container-2 {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  justify-content: space-around;
  position: relative;
}

#sort-by {
  background-color: transparent;
  border: none;
  font-size: 15px;
  border-bottom: 1px solid black;
}

#sort-by:focus {
  outline: none;
  border: none;
}

.new-review-modle {
  position: relative;
  width: 800px;
  height: 600px;
  border: 1px solid black;
  position: fixed;
  top: calc(50% - 300px);
  left: calc(50% - 400px);
  filter: blur(100%);
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(15px);
  box-sizing: content-box;
  padding: 10px;
  border-radius: 10px;
}

.individual-review {
  margin-top: 5px;
  box-sizing: border-box;
  padding: 8px;
}

.review-subject-large-text {
  font-size: 21px;
  font-weight: bold;
}

.review-header {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
}

.review-interactions {
  /* width: calc(max-content + 15px); */
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-column-gap: 10px;
}

/* .review-interactions-report { */
  /* padding-left: 10px;
  border-left: 2px solid black;
} */

.css-vertical-line {
  width: 2px;
  height: 80%;
  position: relative;
  top: 10%;
  background-color: black;
}

.upvote-helpfulness, .review-interactions-report {
  text-decoration: underline;
}
.upvote-helpfulness:hover{
  cursor: pointer;
  color: yellowgreen;
}
.review-interactions-report:hover {
  cursor: pointer;
  color: indianred;
}

.btn-exit-new-review-modle {
  position: absolute;
  right: 10px;
}

.new-review-modle-identification-container {
  display: grid;
  grid-template-columns: 390px 390px;
  margin-top: 5%;
  justify-content: space-between;
}

.review-email-input, .review-name-input {
  height: 50px;
  width: 100%;
}

.review-summary-input {
  width: 100px;
  height: 25px;
}

.review-summary-input {
  width: 800px;
  height: 25px;
}

.review-body-input {
  width: 800px;
  height: 150px;
}

.reviews-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-rows: 5vh 95vh;
}

.review-list {
  position: relative;
  height:  100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.review-list::-webkit-scrollbar {
  display: none;
}

.review-interactions-1 {
  background: white;
  z-index: 100;
  position: relative;
}

.add-review {
  height: 50%;
  width: 185px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(0,0,0,0.75);
  position: relative;
  top: 15%;
  left: 2%;
  background: white;
}

.total-reviews {
  font-weight: 900;
  font-size: 20px;
  color: rgba(0,0,0,0.75);
}

.reviews-title {
  font-size: 17px;
  font-weight: 900;
  color: rgba(0,0,0,0.6);
}

.review-interactions * {
  color: rgba(0,0,0,0.65);
  font-size: 13px;
}

.review-body {
  color: rgba(0,0,0,0.6);
}

.reviews-full-star {
  width: 50px;
  height: 50px;
  background-size: cover;
  border: 1px solid black;
}

.review-stars {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  grid-row-gap: 2px;
}

.star-bar-container {
  width: 100%;
  height: 9px;
  background-color: rgba(0,0,0,0.1);
}

.star-bar {
  height: 100%;
  background-color: rgba(0,0,0,0.65);
}

.individual-star-container {
  display: grid;
  grid-template-columns: max-content 80%;
  justify-content: space-between;
  place-items: center;
}

.star-sort-link {
  color: rgba(0,0,0,0.75);
  text-decoration: underline;
  width: 100%;
  position: relative;
  left: 0%;
  font-size: 17px;
}
.star-sort-link:hover {
  cursor: pointer;
}

.review-breakdown-stars-container {
  display: grid;
  grid-template-rows: 50% 50%;
  place-items: center;
  justify-content: left;
  width: 100%;
}

.stars-filler {
  width: 100%;
  height: 100%;
}

.breakdown-rating-stars {
  width: 100% !important;
  justify-content: left;
}

/* Characteristics */
.characteristic-container {
  position: relative;
  margin-top: 20%;
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 10%;
}

.characteristic-title {
  font-weight: 550;
  font-size: 15px;
  color: rgba(0,0,0,0.75);
}

.characteristic-body {
  width: 100%;
  height: 9px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
}

.characteristic-body-comp {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
}

.characteristic-text-container {
  display: grid;
  grid-template-columns: 33% 33% 34%;
}
.characteristic-begin-text, .characteristic-middle-text, .characteristic-end-text {
  width: 100%;
  text-align: left;
  color: rgba(0,0,0,0.65);
  font-size: 13px;
}
.characteristic-middle-text {
  text-align: center;
}
.characteristic-end-text {
  text-align: right;
}

/* Triangle */
.triangle-box {
  position: absolute;
  width: 20px;
  height: 20px;
  overflow: hidden;
  /* animation: 5s rotation infinite; */
  transform: rotateY(50deg);

}

.triangle {
  position: absolute;
  top: -60%;
  width: 20px;
  height: 20px;
  background: rgba(0,0,0,0.75);
  transform: rotate(45deg);
}

/* .review-photo {
  max
} */

.individual-reviews-images {
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  grid-column-gap: 5px;
  margin-bottom: 5px;
}
.individual-reviews-images * {
  box-sizing: border-box;
  border: 1px solid black;
}

.characteristics-options {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.characteristics-options * {
  width: 100%;
}

.fs-image-modal {
  position: fixed;
  min-width: 1000px;
  min-height: 800px;
  max-width: 1000px;
  max-height: 800px;
  top: calc(50% - 400px);
  left: calc(50% - 500px);
  z-index: 1000;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}

.close-fs-image-modal {
  font-size: 35px;
  font-weight: 900;
  color: whitesmoke;
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: 100%;
  background: rgba(0,0,0,0.35);
}
.close-fs-image-modal:hover {
  cursor: pointer;
}

.hidden-form-input-pId {
  position: absolute;
  display: none;
}