.your-outfit-carousel {
  border: 3px solid plum;
  float: left;
  width: 90%;
  clear: both;
  display: flex;
  flex-wrap: wrap;
}

.related-products-carousel {
  border: 3px solid plum;
  float: left;
  width: 90%;
  clear: both;
  display: flex;
  flex-wrap: wrap;

}
.related-item-card {
    width: 200px;
    height: 350px;
    border: 5px solid cornflowerblue;
    width: 22%;
    padding: 5px;
    clear: both;
    display: flex;
    flex-wrap: wrap;
}
.related-item-card-image {
  width: 220px;
  height: 250px;
  border: 5px solid indianred;
}
.related-item-card-description {
  width: 220px;
  height: 80px;
  border: 5px solid darkcyan;
}
.relatedProducts {
  border: 3px solid palevioletred;
  float: left;
  width: 90%;
  clear: both
}
.related-item-card-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}