.your-outfit-carousel {
  border: .5px solid transparent;
  clear: both;
  display: flex;
  overflow: auto;
}

.related-products-carousel {
  /* border: .5px solid transparent; */
  clear: both;
  display: flex;
  overflow: auto;
}

.card {
  width: 250px;
  height: 370px;
  clear: both;
  display: block;
  flex-wrap: wrap;
  position: relative;
  padding-right: 20px;
}

.card-image {
  width: 250px;
  height: 255px;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  display: block;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.card-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.card-image .actions {
  right: 20px;
  top: 5px;
  display: block;
  position: absolute;
}

.card-image .actions a {
  display: inline-block;
}

.card-description {
  width: 250px;
  height: 105px;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  display: block;
  position: relative
}


