.related-items-widget {
  padding-top: 80px;
  padding-bottom: 80px;
}

.related-products-container {
  width: 1080px;
}

.your-outfit-container {
  width: 1080px;
}

.your-outfit-carousel {
  -ms-overflow-style: none;
  scrollbar-width: none;
  clear: both;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth
}

.related-products-carousel {
  padding-bottom: 50px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth
}

.your-outfit-carousel::-webkit-scrollbar {
  display: none;
}

.related-products-carousel::-webkit-scrollbar {
  display: none;
}

.your-outfit-carousel>.card>.card-image>.overlay {
  background-color: white;
  opacity: .9;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.related-products-carousel>.card>.card-image>.overlay::before {
  background: rgba(255, 255, 255, 0);
  opacity: 1;
  display: block;
  height: 100%;
  position: absolute;
  top: 20px;
  right: 15px;
  text-align: right;
  font-size: 17px;
  content: "\2606";
}

.your-outfit-carousel>.card>.card-image>.overlay::before {
  background: rgba(255, 255, 255, 0);
  opacity: 1;
  display: block;
  height: 100%;
  position: absolute;
  top: 20px;
  right: 15px;
  text-align: right;
  font-size: 17px;
  content: "\2715";
}

h3 {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 600;
}

.card {
  width: 250px;
  height: 380px;
  clear: both;
  display: block;
  flex-wrap: wrap;
  position: relative;
  padding-right: 20px;
  font-size: small;
  font-family: DM Sans, 'Montserrat', sans-serif;
  font-weight: 400
}

.card-image {
  width: 250px;
  height: 255px;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  display: block;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.card-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.card-image .actions {
  right: 20px;
  top: 5px;
  display: block;
  position: absolute;
}

.card-image .actions a {
  display: inline-block;
}

.card-description {
  width: 240px;
  height: 105px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  display: block;
  position: relative
}

.price-change {
  text-decoration: line-through;
}

.sale-price {
  text-decoration-color: red
}

button.set-text-name {
  background: none;
  border: none;
  padding: 0%;
  font-family: DM Sans, Roboto, sans-serif;
  font-weight: bold;
}

.comparison-modal {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.comparison-modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.comparison-modal-header {
  padding: 20px 20px 0px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comparison-overview-name {
  font-weight: bold;
}

.comparison-current-item-name {
  font-weight: bold;
}

.comparison-modal-header .comparison-modal-close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

.comparison-modal-body {
  padding: 25px 20px 35px 15px;
  display: flex;
  flex-direction: column
}

.features-compare {
  display: flex;
  padding-top: 10px;
  flex-direction: row;
  justify-content: space-between;
}

#comparison-modal-overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#comparison-modal-overlay.active {
  position: fixed;
  opacity: 1;
  pointer-events: all;
}

.add-to-outfits {
  background-color: whitesmoke;
  border: none;
  width: 250px;
  height: 372px;
  clear: both;
  display: block;
  flex-wrap: wrap;
  position: relative;
  padding-right: 20px;
  font-size: small;
  font-family: DM Sans, 'Montserrat', sans-serif;
  font-weight: 400
}