.overview-main {
  border-style: solid;
}

.image-gallery,
.expanded-view {
  border-style: solid;
  margin: 10px;
}

.default-view {
  border-style: solid;
  margin: 10px;
  height: 50%;
  width: 50%;
  text-align: center;
}

.selected-image {
  border-style: solid;
  margin: 10px;
  position: relative;
  text-align: center;
  height: 50%;
  width: 50%;
}

.all-image-tns,
.image-tn {
  border-style: dashed;
  margin: 10px;
}
