.overview-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 20px;
  padding-left: 15%;
  padding-right: 15%;
  position: relative;
  width: 70%;
  height: 900px;
}

/* IMAGE GALLERY */
.image-gallery {
  border-width: 10px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  position: static;
  width: 60%;
  height: 900px;
  left: 0px;
  top: 0px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  margin: 0px 0px;
}
.overview-images {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.expanded-view {
  border-style: solid;
  border-width: 10px;
  margin: 10px;
}

.default-view {
  border-style: solid;
  margin: 10px;
  height: 900px;
  text-align: center;
}

.selected-image {
  border-style: solid;
  margin: 10px;
  position: relative;
  text-align: center;
  height: 500px;
  max-width: fit-content;
  width: auto;
}
.selected-image-expanded {
  border-style: solid;
  margin: 10px;
  position: relative;
  text-align: center;
  height: 800px;
  width: auto;
  cursor: zoom-in;
}
.expanded-zoom {
  border-style: solid;
  margin: 10px;
  position: relative;
  text-align: center;
  height: 800px;
  width: auto;
  cursor: zoom-out;
  transform-origin: top left;
  transform: scale(2.5);
}

.image-container {
  width: auto;
  overflow: hidden;
  height: 800px;
}

.all-image-tns {
  border-style: dashed;
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.image-tn {
  border-style: dashed;
  margin: 10px;
  height: 75px;
  width: 75px;
}

.image-tn-selected {
  border-style: solid;
  border-width: 5px;
  border-radius: 10%;
  margin: 10px;
  height: 75px;
  width: 75px;
}
/* ------------------ */

.right-pane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  position: static;
  /* width: 40%; */
  height: 900px;
  left: 1157px;
  top: 0px;

  flex: none;
  order: 1;
  align-self: stretch;
  /* flex-grow: 1; */
  margin: 0px 0px;
}

/* PRODUCT INFO */
.product-info {
  border-style: solid;
  border-width: 10px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;

  position: static;
  width: 493px;
  height: 25%;
  left: 44px;
  top: 0px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px;
}

.info {
  border-style: solid;
  margin: 10px;
  height: fit-content;
}

.star-rating {
  border-style: solid;
  margin: 10px;
  height: 50%;
}

.avg-stars {
  height: 20px;
  width: 20px;
}

.old-price {
  text-decoration: line-through;
}
.sale-price {
  color: red;
}
/* ------------------ */

/* STYLE SELECTOR */
.style-selector {
  border-style: solid;

  border-width: 10px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;

  position: static;
  width: 493px;
  height: fit-content;
  left: 44px;
  top: 332.5px;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 10px;
}

.selected-style {
  border-style: solid;
  margin: 10px;
  height: 50%;
}

.all-styles-tn {
  border-style: solid;
  margin: 10px;
  height: fit-content;
}

.style-tn {
  margin: 0px;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  border-style: dashed;
  width: 100px;
  height: 100px;
}

.selected-style-tn {
  margin: 0px;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  border-style: solid;
  border-width: 10px;
  width: 100px;
  height: 100px;
}

/* ------------------ */

/* ADD TO CART */
.add-to-cart {
  border-style: solid;
  border-width: 10px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;

  position: static;
  width: 493px;
  height: 25%;
  left: 44px;
  top: 665px;

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 10px;
}

.select-size {
  border-style: solid;
  margin: 10px;
  height: 50%;
}

.quantity {
  border-style: solid;
  margin: 10px;
  height: 50%;
}

.favorite {
  border-style: solid;
  margin: 10px;
  height: 50%;
}

.add-to-bag {
  border-style: solid;
  margin: 10px;
  height: 50%;
}
/* ------------------ */
